
<div *ngIf="this.getDataStatus()">
  <div class="row">
    <div class="col-md-11  main">
        <div class="col-md-12">
          <div class="row">
                <div class="col-md-4">
                    <img class="img-responsive" style="margin-top : 30px" alt="Invoce Template" src="http://www.prepbootstrap.com/Content/images/template/productslider/product_004.jpg" />
                </div>
                <div class="col-md-8 text-right" style="margin-top : 30px">
                   <h4 style="color: #F81D2D;"><strong>Customer Detail</strong></h4>
                    <!--<p><b>{{this.getCustomer().getName()}}</b></p>
                    <p>+1 888 455 6677</p>
                    <p>mail@example.com</p>-->
                    <table class="table" style='font-size: 12px'>
                        <tbody>
                        <tr>
                          <td style="border:0px;padding:0px"><p>{{this.getCustomer().getName()}}</p></td>
                        </tr>
                        <tr>
                          <td style="border:0px;padding:0px">
                          <div *ngFor="let con of this.getCustomer().getContacts()">
                                  {{con}}
                          </div>
                            </td>
                        </tr>
                        <tr>
                          <td style="border:0px;padding:0px">
                              <div *ngFor="let add of this.getCustomer().getAddresses()">
                                  {{add.getAddress()}}
                              </div>
                          </td>
                        </tr>
                        <tr>
                          <td style="border:0px;padding:0px">
                              <div *ngFor="let com of this.getCustomer().getCusCompanies()">
                                      {{com.getCompanyName()}}
                              </div>
                          </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Estimate</h2>
                    <h5>{{this.getSaleOrder().getSalesOrderId()}}</h5>
                </div>
            </div>
            <br />
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th><h5>Name</h5></th>
                            <th><h5>Unit</h5></th>
                            <th><h5>Quantity</h5></th>
                            <th><h5>Amount</h5></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fg of this.getDeliverablesInSO()">
                            <td class="col-md-3">{{fg.item.getName()}}</td>
                            <td class="col-md-3">{{fg.item.getUnitName(this.getUnits())}}</td>
                            <td class="col-md-3">{{fg.quantity}}</td>
                            <td class="col-md-3"><i class="fa fa-usd" aria-hidden="true"></i>{{fg.item.getPrice()}}</td>
                        </tr>
                        <tr >
                            <td></td>
                            <td colspan="2">
                              <p style='float:right'>
                                  <strong>Total Amount: </strong>
                              </p>
                              <br><br>
                              <p style='float:right'>
                                  <strong>Balance Due: </strong>
                              </p>
                          </td>
                            <td >
                              <p style='float:right'>
                                  <strong><i class="fa fa-usd" aria-hidden="true"></i>{{this.getSaleOrder().getTotalPrice()}}</strong>
                              </p>
                              <br><br>
                              <p style='float:right'>
                                  <strong><i class="fa fa-usd" aria-hidden="true"></i>{{this.getSaleOrder().getReceivables()}}</strong>
                              </p>
                           </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="col-md-12">
                    <p><b>Date :</b> {{this.getDate()}}</p>
                    <br />
                    <p><b>Signature</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
