<div *ngIf="this.getDataReady()">
    <div class="row" style="margin-top:20px">
      <div>
        <form class="form-inline" >
          <div class="form-group col-md-3 col-sm-12 col-xs-12"   >
            <input id="per_name" name="per_name" [(ngModel)]="per_name" type="input" (input)="getItems()" class="form-control" placeholder="customer" >
          </div>
          <div class="form-group col-md-3 col-sm-12 col-xs-12"   >
            <input  id="address_input" name="per_address" [(ngModel)]="per_address" type="text" (input)="getItems()" class="form-control" placeholder="Enter address name :">
          </div>
          <div class="form-group col-md-3 col-sm-12 col-xs-12">
            <input  id="contact_input" name="per_contact" [(ngModel)]="per_contact" type="number" (input)="getItems()" class="form-control" placeholder="Enter contact No :">
          </div>
        </form>
        <div class="col-md-11" style="margin-top:30px">
          <table class="table table-responsive table-hover" >
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Contact</th>
                  <th>Company</th>
                  <th>Address</th>
                  <th>Actions</th>
                 
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let person of result_persons" >
                  <td >{{person.getName()}}</td>
                  <td >
                    <div  *ngFor="let contact of person.getContacts()">
                      {{contact}}
                    </div>
                  </td>
                  <td>
                      <div  *ngFor="let company of person.getCusCompanies()">
                        {{company.getCompanyName()}}
                    </div>
                  </td>
                  <td>
                    <div  *ngFor="let address of person.getAddresses()">
                        {{address.getAddress()}}
                    </div>
                </td>
                  <td><button style='width:100%' class="btn btn-primary" (click)="getDetail(this.person.getCusId())">Detail</button></td>
                  <td><button style='width:100%' class="btn btn-warning" (click)="editCustomer(this.person.getCusId())">Edit</button></td>
                 <!-- <td><button class="btn btn-danger" (click)='removeExistance(this.person.getCusId())'>Delete</button></td>-->
                </tr>
              </tbody>
            </table>    
      </div>
      </div>
    </div>
    </div>
