
      <div >
        <div class="col-md-8" style="margin-top:30px">
          
            <table class="table table-responsible table-hover" >
                <thead>
                  <tr>
                    <th>Vendor Name</th>
                    <th>City</th>
                    <th>Payables </th>
                  </tr>
                </thead>
                <tbody >
                  <tr >
                    <td>Ali Raza</td>
                    <td>Lahore</td>
                    <td>60000</td>
                  </tr>
                  
                </tbody>
              </table> 
              <div class="panel panel-default" id="form-panel" style="margin-top:100px">
                  <div class="panel-heading" align="center" style="background-color: #2e353d">
                      <font color="white">Purchase Orders Details
                      </font>
                  </div>   
                  <div class="panel-body" id="scroll">
            <table class="table table-responsible table-hover" >
                <thead>
                  <tr>
                    <th>RM ID</th>
                    <th>Item</th>
                    <th>Quantity Recieved</th>
                    <th>Quantity Left</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody >
                  <tr >
                    <td>1</td>
                    <td>30 inch </td>
                    <td>6</td>
                    <td>7</td>
                    <td>Red/60 GSM</td>
 
                  </tr>
                  <tr >
                    <td>2</td>
                    <td>45 inch </td>
                    <td>6</td>
                    <td>20</td>
                    <td>Red/60 GSM</td>
 
                  </tr>
                  <tr >
                    <td>3</td>
                    <td>24 inch </td>
                    <td>6</td>
                    <td>10</td>
                    <td>Blue/60 GSM</td>
 
                  </tr>
                  <tr >
                    <td>4</td>
                    <td>40 inch </td>
                    <td>6</td>
                    <td>3/td>
                    <td>White/60 GSM</td>
 
                  </tr>
                  <tr >
                      <td>5</td>
                      <td>2 inch </td>
                      <td>6</td>
                      <td>4</td>
                      <td>Black/60 GSM</td>
   
                    </tr>
                </tbody>
              </table>    
              </div>
              </div>
        </div>

      </div>