<div id="my_container" class="container_fluid">
    <div class="row">
        <div class="col-md-4">
            <div id="my_screen"></div>
            <div id="main">
                <button>0</button>
                <button>1</button>
                <button>2</button>
                <button>3</button>
                <button>4</button>
                <button>5</button>
                <button>6</button>
                <button>7</button>
                <button>8</button>
                <button>9</button>
            </div>
        </div>
        <div class="col-md-8">
            <div id="my_content"></div>
            <button (click)="this.exit('/PointOfSale/Dashboard')">Exit</button>
        </div>
    </div>
</div>