<div class ="row"> 
<div class=" col-md-8 ">

    <!-- table for products -->
    <div align="center" id="catalog-tb" style="margin-top: 20px">
    <div class="col-md-9 col-md-offset-1">
        <div class="panel panel-default " id="form-panel">
            <div class="panel-heading" align="center" style="background-color: #2e353d">
                <font color="white">Add Purchase Order
                </font>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="name">Select Vendor Name:</label>
                                <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Vendor
                                        </button>
                                        <ul class="dropdown-menu">
                                          <li><a href="#">Ali</a></li>
                                          <li><a href="#">Huzaifa</a></li>
                                          <li><a href="#">Usman</a></li>
                                          <li><a href ="#">Umair</a></li>
                                          <li><a href ="#">Marium</a></li>

                                        </ul>
                                      </div>
                            </div>
                            <div class="form-group">
                                    <label class="control-label col-sm-3" for="name">Select Company Name:</label>
                                            <div class="dropdown">
                                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Company Name
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                      <li><a href="#">Z-K International</a></li>
                                                      <li><a href="#">Huzaifa Enterprises</a></li>
                                                      <li><a href="#">Hafiz Usman Fabrics</a></li>
                                                      <li><a href ="#">Umair Fabrics</a></li>
                                                      <li><a href ="#">Marium Textiles</a></li>
            
                                                    </ul>
                                            </div>
                                </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >Phone Number:</label>
                        <div class="col-sm-9">
                                <div class ="col-sm-6 col-sm-offset-3"><input type="text" class="form-control" id="name" placeholder="03027654321"></div>
                        </div>
                    </div>
                    
                    

                </form>
            </div>
        </div>
    </div>
        
        <div class=" col-md-12">
             <div class="panel panel-default" id="form-panel" style="margin-top:100px">
                              <div class="panel-heading" align="center" style="background-color: #2e353d">
                                  <font color="white">Add Items 
                                  </font>
                              </div>   
                        <div class="panel-body" id="scroll">
                            <table class="table table-responsible table-hover" >
                            <thead>
                            <tr>
                                 <th>RM ID</th>
                                 <th>Item</th>
                                 <th>Description</th>
                                 <th>Quantity </th>
                                 <th>Unit Price</th>
                                 <th>Total</th>
                            </tr>
                            </thead>

                            <tbody>
                              <tr >
                                <td>1</td>
                                <td>30 inch </td>
                                <td>Red/60 GSM</td>
                                <td>6</td>
                                <td>5000</td>
                                <td>100000</td>

             
                              </tr>
                              <tr >
                                    <td>1</td>
                                    <td>30 inch </td>
                                    <td>Red/60 GSM</td>
                                    <td>6</td>
                                    <td>5000</td>
                                    <td>100000</td>
    
             
                              </tr>
                              <tr >
                                    <td>1</td>
                                    <td>30 inch </td>
                                    <td>Red/60 GSM</td>
                                    <td>6</td>
                                    <td>5000</td>
                                    <td>100000</td>
    
             
                              </tr>
                              <tr >
                                    <td>1</td>
                                    <td>30 inch </td>
                                    <td>Red/60 GSM</td>
                                    <td>6</td>
                                    <td>5000</td>
                                    <td>100000</td>
    
             
                              </tr>
                              <tr >
                                    <td>1</td>
                                    <td>30 inch </td>
                                    <td>Red/60 GSM</td>
                                    <td>6</td>
                                    <td>5000</td>
                                    <td>100000</td>
    
               
                                </tr>
                            </tbody>
                          </table>    
            
            </div>
            
        </div>
        <div align ="right"> <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Confirm Order
            </button></div>
    </div>
    
</div>
</div>
</div>
