<div class="row">
    <div class="col-md-3" >
        <div class="nav-side-menu">
            <div class="brand" >Bags2Pack</div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
          
                <div class="menu-list">
          
                    <ul id="menu-content" class="menu-content collapse out">
          
                        <li>
                          <a href="#">
                          <i class="fa fa-bell fa-lg"  style="padding-right:40px"></i> Notification
                          </a>
                        </li>
          
                        <li  data-toggle="collapse" data-target="#products" class="collapsed ">
                          <a><i class="fa fa-file-text-o fa-lg" aria-hidden="true" style="padding-right:40px"></i> Items <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="products">
                          <a routerLink="/Inventory/RawMaterials"><li>Raw materials</li></a>
                          <a routerLink="/Inventory/Intermediarys"><li>Intermediarys</li></a>
                            <a routerLink="/Inventory/FinishedGoods"><li>Finished goods</li></a>
                        </ul>

                        <li data-toggle="collapse" data-target="#new" class="collapsed">
                          <a href="#"><i class="fa fa-users fa-lg" aria-hidden="true" style="padding-right:40px"></i> Categorize <span class="arrow"></span></a>
                        </li>
                        <ul class="sub-menu collapse" id="new">
                          <li><a routerLink="viewcustomers">New type</a></li>
                          <li><a routerLink="viewcustomers">Category</a></li>
                        </ul>
          
                        <li data-toggle="collapse" data-target="#service" class="collapsed">
                          <a href="#"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true" style="padding-right:40px"></i> Orders <span class="arrow"></span></a>
                        </li>  
                        <ul class="sub-menu collapse" id="service">
                          <li>Confirmed</li>
                          <li>In production</li>
                          <li>Ready</li>
                          <li>Delivered</li>
                        </ul>
          
                          <li data-toggle="collapse" data-target="#cgPass" class="collapsed">
                          <a>
                          <i class="fa fa-cog fa-lg " aria-hidden="true" style="padding-right:40px"></i> Settings<span class="arrow"></span>
                          </a>
                        </li>
                        <ul class="sub-menu collapse" id="cgPass">
                            <li>Change Password</li>
                            <li routerLink="/">LogOut</li>
                        </ul>
                    </ul>
              </div>
          </div>
    </div>
  </div>
  