  
<div class=" col-md-10 col-md-offset-2">

    <!-- table for products -->
    <div align="center" id="catalog-tb" style="margin-top: 20px">
  
        <div class="panel panel-default" id="form-panel" style="margin-top:100px">
            <div class="panel-heading" align="center" style="background-color: #2e353d">
                <font color="white">Purchase Orders Status
                </font>
            </div>
            <div class="panel-body" id="scroll">
  
                   
                    <div class="col-md-12 ">
                        <table class="table table-responsible table-hover"  >
                            <thead>
                              <tr>
                                <th>ID</th>
                                <th>Vendor Name</th>
                                <th>Order Date </th>
                                <th>Due Date</th>
                                <th>Details</th>
                              </tr>
                  
                            </thead>
                            <tbody>
                              <tr >
                                <td>1</td>
                                <td>Ali Raza</td>
                                <td>2/4/18</td>
                                <td>22/6/18</td>    
                              <td><button style=" background-color: white;  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); color: black; border: 2px solid #2e353d"
                                type="submit" class="btn"><a routerLink="/PODetails">Details</a></button></td>
                              </tr>
                              <tr >
                                  <td>1</td>
                                  <td>Marium</td>
                                  <td>2/4/18</td>
                                  <td>22/6/18</td>    
                                  <td><button style=" background-color: white;  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); color: black; border: 2px solid #2e353d"
                                  type="submit" class="btn"><a routerLink="/PODetails">Details</a></button></td>
                                </tr>
                                <tr >
                                    <td>1</td>
                                    <td>Umair</td>
                                    <td>2/4/18</td>
                                    <td>22/6/18</td>    
                                   <td><button style=" background-color: white;  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); color: black; border: 2px solid #2e353d"
                                    type="submit" class="btn"> <a routerLink="/PODetails">Details</a></button></td>
                                  </tr>
                                  <tr >
                                      <td>2</td>
                                      <td>Huzaifa</td>
                                      <td>2/4/18</td>
                                      <td>22/6/18</td>    
                                      <td><button style=" background-color: white;  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); color: black; border: 2px solid #2e353d"
                                      type="submit" class="btn"><a routerLink="/PODetails">Details</a></button></td>
                                    </tr>
                                    <tr >
                                        <td>3</td>
                                        <td>Hafiz Usman</td>
                                        <td>2/4/18</td>
                                        <td>22/6/18</td>    
                                        <td><button style=" background-color: white;  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); color: black; border: 2px solid #2e353d"
                                        type="submit" class="btn"><a routerLink="/PODetails">
                                          Details</a></button></td>
                                      </tr>
                            </tbody>
                        </table>    
                  </div>
                  
                  
                
            </div>
        </div>
  
    </div>
  </div>
  
  