<div>
  <div class="row">
  <form>
    <div class="col-md-5 form-group">
      <label for="sel1">Select item type:</label>
      <select (change)="onChangeSelect($event.target.value)" class="form-control" id="sel1">
        <option>Select item category</option>
        <option>Raw material</option>
        <option>Intermediary</option>
        <option>Finished good</option>
      </select>
    </div>
  </form>
</div>
</div>

<div class="row">
<div *ngIf="this.getNewRm()">
  <app-add-raw-material></app-add-raw-material>
</div>
<div *ngIf="this.getNewInter()">
  <app-add-intermediary></app-add-intermediary>
</div>
<div *ngIf="this.getNewFg()">
  <app-add-finished-good></app-add-finished-good>
</div>
</div>