<div *ngIf="this.getDataReady()">
  
  <div class="row">
    <div class="col-md-10">
      <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th colspan="3" style="text-align: center;">General</th>
              </tr>
        </thead>
        <tbody>
          <tr>
            <td class="col-md-6" style="text-align: center;">Name</td>
            <td class="col-md-6" style="text-align: center;" colspan="2">{{this.getItem().getName()}}</td>
          </tr>
          <tr>
            <td style="text-align: center;">Description</td>
            <td style="text-align: center;" colspan="2">{{this.getItem().getDescription()}}</td>
          </tr>
          <tr>
            <td style="text-align: center;">Unit</td>
            <td style="text-align: center;" colspan="2">{{this.getItem().getUnitName(this.getUnits())}}</td>
          </tr>
          <tr>
            <td style="text-align: center;">Price</td>
            <td style="text-align: center;" colspan="2">{{this.getItem().getPrice()}}</td>
          </tr>
          <tr>
            <td style="text-align: center;">Stock</td>
            <td style="text-align: center;" colspan="2">{{this.getItem().getStock()}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-responsive table-striped">
        <thead>
          <tr>
            <th colspan="3" style="text-align: center;">Quantitative attributes</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let attribute of this.getItem().getAttrSet().getQuanAttrSet()">
            <td class="col-md-4" style="text-align: center;">{{attribute.getName()}}</td>
            <td class="col-md-4" style="text-align: center;">{{attribute.getUnitName(this.getUnits())}}</td>
            <td class="col-md-4" style="text-align: center;">{{attribute.getMagnitude()}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-responsive table-striped">
        <thead>
          <tr>
              <th colspan="3" style="text-align: center;">Qualitative attributes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let attribute of this.getItem().getAttrSet().getQualAttrSet()">
                <td class="col-md-6" style="text-align: center;">{{attribute.getName()}}</td>
                <td class="col-md-6" style="text-align: center;" colspan="2">{{attribute.getDescription()}}</td>
              </tr>
            </tbody>
      </table>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-1">
      <button class="btn btn-info" (click)="this.showBom()">BOM</button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-info">Cost</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-info" (click)="this.showActions()">Actions</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10">
      <div *ngIf="this.getShowBom()">
        <table class="table table-responsive table-striped">
            <thead>
              <tr>
                  <th colspan="4" style="text-align: center;">RM Composition</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let raw_compo of this.getItem().getBom().getRawMatCompoList()">
                  <td class="col-md-3">{{raw_compo.getRawMat().getName()}}</td>
                  <td class="col-md-3">{{raw_compo.getRawMat().getStatus()}}</td>
                  <td class="col-md-3">{{raw_compo.getRawMat().getUnitName(this.getUnits())}}</td>
                  <td class="col-md-3">{{raw_compo.getQuantity()}}</td>
                  <td class="col-md-3"><button class="btn btn-primary" (click)="this.getItemDetail(raw_compo.getRawMat().getId(),'/Inventory/RawMaterial/')">Detail</button></td>
                </tr>
                </tbody>
          </table>
          <table class="table table-responsive table-striped">
              <thead>
                <tr>
                    <th colspan="4" style="text-align: center;">Intermediary Composition</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let inter_compo of this.getItem().getBom().getInterCompoList()">
                    <td class="col-md-3">{{inter_compo.getIntermediary().getName()}}</td>
                    <td class="col-md-3">{{inter_compo.getIntermediary().getStatus()}}</td>
                    <td class="col-md-3">{{inter_compo.getIntermediary().getUnitName(this.getUnits())}}</td>
                    <td class="col-md-3">{{inter_compo.getQuantity()}}</td>
                    <td class="col-md-3" style="align-content: center;"><button class="btn btn-primary" (click)="this.getItemDetail(inter_compo.getIntermediary().getId(), '/Inventory/Intermediary/')">Detail</button></td>
                  </tr>
                  </tbody>
          </table>
      </div>
    </div>
  </div>

  <div *ngIf="this.getShowActions()" style="padding-top: 20px;">
    <div class="row">
        <div class="col-md-1">
            <button type="button" class="btn btn-warning" (click)="this.updateItem(this.getItem().getId(),'/Inventory/UpdateFinishedGood/')">Update</button>
          </div>

      <div class="col-md-1">
          <app-deactivate-finished-good [target_fg_id]="this.getItem().getId()"></app-deactivate-finished-good>
        </div>
    </div>
  </div>

</div>