
<div *ngIf="this.getDataStatus()">
    <div class="row" style="margin-top:20px">
      <div>
        <form class="form-inline" >
          <div class="form-group col-md-3 col-sm-12 col-xs-12"   >
            <input id="orderId" name="input_order_id" [(ngModel)]="input_order_id" type="input" (input)="getItems()" class="form-control" placeholder="Enter order id" >
          </div>
          <div class="form-group col-md-3 col-sm-12 col-xs-12"   >
            <input  id="customer_name" name="input_customer_name" [(ngModel)]="input_customer_name" type="text" (input)="getItems()" class="form-control" placeholder="Enter customer name :">
          </div>
         
        </form>
        <div class="col-md-11" style="margin-top:30px">
          <table class="table table-responsive table-hover" >
              <thead>
                <tr>
                  <th>Order Id</th>
                  <th>Order Date</th>
                  <th>Order Status</th>
                  <th>Customer</th>
                  <th>Total price</th>
                  <th>Receivables</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let order of this.getResultOrders()" >
                  <td >{{order.getSalesOrderId()}}</td>
                  <td>
                        {{order.getOrderDate()}}
                  </td>
                  <td>
                        {{order.getStatus()}}
                  </td>
                  <td>
                      {{order.getCusId()}}
                  </td>
                  <td>
                      {{order.getTotalPrice()}}
                  </td>
                  <td>
                      {{order.getReceivables()}}
                  </td>
                  <td><button class="btn btn-primary"  (click)='this.setModal($event.target , order.getSalesOrderId())'>Actions</button></td>
                </tr>
              </tbody>
            </table>  
            <div  id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
  
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Actions</h4>
                  </div>
                  <div class="modal-body">
                      <button class="btn btn-primary btn-block" data-dismiss="modal" (click)="getOrderDetail(this.getModal())">Check Estimate Detail</button><hr>
                      <button class="btn btn-warning btn-block" data-dismiss="modal" (click)="updateOrder(this.getModal())">Update Estimate</button><hr>
                      <button class='btn btn-info btn-block' data-dismiss='modal' (click)='confirmEstimate(this.getModal())' data-toggle='modal' data-target='#confirmStatus'>Confirm Estimate</button><hr>
                      <button class="btn btn-danger btn-block" data-dismiss="modal" (click)="deleteOrder(this.getModal())" data-toggle='modal' data-target='#deleteStatus'>Delete Estimate</button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <!--Delete modal-->
            <!-- Modal -->
            <div id="deleteStatus" class="modal fade" role="dialog" >
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" *ngIf='this.getEstimateDelStatus()'>
                 
                  <div class="modal-body">
                    <h3>Estimate has been deleted</h3>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                  </div>
                </div>
              </div>
            </div>

              <!--confirm modal-->
            <!-- Modal -->
            <div id="confirmStatus" class="modal fade" role="dialog" >
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content" *ngIf='this.getEstimateconStatus()'>
                 
                  <div class="modal-body">
                    <h3>Estimate has confirmed</h3>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
  